.vs/
NServiceDiscovery/bin/
NServiceDiscovery/obj/
NServiceDiscoveryAPI/bin/
NServiceDiscoveryAPI/obj/
TestAPI1/bin/
TestAPI1/obj/
docker/
/NServiceDiscovery.Common/bin/Debug/netstandard2.0
/NServiceDiscovery.Common/obj
/NServiceDiscovery.Common/bin/Release/netstandard2.0
/NServiceDiscoveryAPI.Tests/bin/Debug/netcoreapp3.0
/NServiceDiscoveryAPI.Tests/obj
/.sonarqube
